html,body
{
height: 100%;
width: 100%;
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center top, circle closest-corner, #3090BD 0%, #123647 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center top, circle closest-corner, #3090BD 0%, #123647 100%);

/* Opera */ 
background-image: -o-radial-gradient(center top, circle closest-corner, #3090BD 0%, #123647 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center top, 0, center top, 477, color-stop(0, #3090BD), color-stop(1, #123647));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center top, circle closest-corner, #3090BD 0%, #123647 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle closest-corner at center top, #3090BD 0%, #123647 100%);
}

h2.textheader{
  color: #fbfbfb;
  margin-top: 20px;
}

#content {
  margin-top: 50px;
}

.navbar {
  margin-bottom: 50px;
}

#output {
  padding-top: 10px;
  color: #fbfbfb;
  font-weight: bold;
  font-size: 150%;
  display: inline;
}

.nodes {
  margin-top: 20px;
  color: #fbfbfb;
  font-weight: bold;
}

/*
#b1{
	display: inline-block;
    padding: 5px 10px 6px;
    color: solid grey;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
}
*/
